sub-block/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackunderflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media screen and (min-width: 340px) and (max-width: 380px)

{

body {height: 5182px;
      margin: 0px;
      padding: 0px;
      font-size: 16px;}

h1, h2, h3, h4 {font-family: "Raleway"; font-weight: 600;}
p {font-family: "Open Sans"; font-weight: 400;}

header {height: 170px;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-bottom: 0px;}

.list {position: relative;
       float: right;
       color: white;
       z-index: 5;
       margin-top: 36px;
       margin-right: 0px;
       padding-left: 0px;}

nav > ul > li {list-style: none;
               display: inline;
               position: relative;
               z-index: 5;}

.under-bg_white-btn {margin-right: 16px;
                     font-size: 12px;}

.under-bg_green-btn {background-color: #06d89b;
                     padding: 8px 21px;
                     border-radius: 5px;
                     margin-right: 24px;
                     font-size: 12px;}

.under-bg_blue {background-image: linear-gradient(to top, #a09ae2, #847dca);
                float: right;
                height: 300px;
                width: 58.75%;
                top: -197px;
                left: 80px;
                clip-path: inset(0% 0% 0% 0% round 80px);
                font-size: 14px;
                position: relative;
                z-index: 0;
                transform: rotate(115deg);}

.logo {float: left;
       margin-top: 26px;
       margin-left: 24px;
       position: relative;
       z-index: 1;}

.block-hero {text-align: center;}

.block-hero__hero      {width: 80%;
                        position: relative;
                        top: -50px;
                        z-index: -1;
                        }

.section-a {clear: both;
           display: flex;
           flex-flow: column nowrap;
           align-items: center;}

.section-a__heading {width: 85.67%;
                     text-align: center;
                     margin-top: 0px;
                     margin-bottom: 32px;}

main {overflow-x: hidden;}

.section-a__par  {width: 87.50%;
                  margin-top: 0px;
                  margin-bottom: 30px;}

.section-a__btn {padding: 17px 58px;
                 background-color: #06d89b;
                 border: none;
                 border-radius: 5px;
                 color: white;
                 margin-top: 0px;
                 margin-bottom: 206px;
                 position: relative;
                 z-index: 0;}

.under-bg_grey {background-color: #fafafa;
                height: 1144px;
                width: 225.75%;
                clip-path: inset(0% 0% 0% 0% round 100px);
                font-size: 14px;
                position: relative;
                left: -250px;
                top: 60px;
                z-index: 0;
                transform: rotate(25.589deg);}

.section-b {position: relative;
            z-index: 1;
            text-align: center;
            top: -1050px;}

.section-b__container, .section-c__container {display: flex;
                                              flex-flow: column nowrap;
                                              align-items: center;}

.section-b__container__heading {width: 50.56%;
                                margin: 0px auto 34px auto;}

.section-b__container__par {width: 78.45%;
                            margin: 0px auto 90px auto;}

.section-b__container__device,
.section-b__container__shield,
.section-b__container__people   {margin-top: 0px;
                                margin-bottom: 36px;}

.section-b__container__heading-top,
.section-b__container__heading-mid  {margin-bottom: 95px;}

.section-c__container__heading {width: 64.06%;
                                text-align: center;
                                color: #19114a;}

.section-c__container {position: relative;
                       top: -840px;}

.section-c__container__par {width: 86.38%;
                            text-align: center;
                            margin-bottom: 53px;}

.section-c__container__sub-par {width: 48.75%;
                                text-align: center;}

.block-slack,
.block-gsuite,
.block-trello,
.block-asana,
.block-salesforce,
.block-typeform,
.sub-block-slack,
.sub-block-gsuite,
.sub-block-trello,
.sub-block-asana,
.sub-block-salesforce,
.sub-block-typeform {display: flex;
                    flex-flow: column nowrap;
                    align-items: center;}

.slack,
.gsuite,
.trello,
.asana,
.salesforce,
.typeform       {width: 102px;
                 border: 1px solid #f2f1f6;
                 padding: 30px 56px;}

.sub-block-slack,
.sub-block-gsuite,
.sub-block-trello,
.sub-block-asana,
.sub-block-salesforce,
.sub-block-typeform {border: 1px solid #f2f1f6;
                    width: 214px;
                    margin-bottom: 20px;}

.section-c__container__sub-par {width: 72.27%;}

.section-c__container__final-sub {width: 165px;}

.section-d {position: relative; top: -750px;}

.section-d {display: flex;
            flex-flow: column nowrap;
            align-items: center;}

.section-d__container__par {width: 78%;
                            text-align: center;}

.section-d__container__btn {background-color: #06d89b;
                            padding: 17px 60px;
                            border-radius: 5px;
                            margin-right: 24px;
                            font-size: 12px;
                            color: white;
                            border: none;
                            text-align: center;}

footer {position: relative;
        top: -590px;
        background-color: #070439;
        color: white;}

.top-footer {display: flex;
             flex-flow: column nowrap;
             align-items: center;}

.wlogo {fill: white;}

.footer__logo {margin: 82px 0px 24px 22px;}

.top-footer__par {width: 85.8%;
                  margin-bottom: 18px;}

.top-footer__email {margin-bottom: 16px;
                    width: 85.6%;}

.btn-container {width: 85.6%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-end;}

.top-footer__btn {margin-bottom: 38px;
                  padding: 9px 46px;
                  background-color: #06d89b;
                  border: none;
                  border-radius: 5px;
                  color: white;}

.phone-logo, .email-logo {margin: 0px 16px 0px 22px;}

.phone-par {margin-top: 0px;
            margin-bottom: 19px;}

.email-par {margin-top: 0px;
            margin-bottom: 100px;}

.address-heading {margin-top: 77px;
                  margin-left: 22px;}

.address-par {margin-top: 24px;
              margin-left: 22px;}

.address-par-last {padding-bottom: 77px;}

}

/* Desktop */

@media screen and (min-width: 1200px) and (max-width: 1920px)

{

  h1, h2, h3, h4 {font-family: "Raleway"; font-weight: 600;}
  p {font-family: "Open Sans"; font-weight: 400;}

html {overflow-x:hidden;}

body {margin: 0px;
      padding: 0px;
      font-size: 16px;
      overflow-x: hidden;}

.under-bg_blue-big {float: right;
                    height: 690px;
                    width: 690px;
                    background-image: url(../img/bg-intro-desktop.svg);}

.list {position: relative;
       float: right;
       color: white;
       z-index: 5;
       margin-top: 36px;
       margin-right: 0px;
       padding-left: 0px;}

nav > ul > li {list-style: none;
               display: inline;
               position: relative;
               z-index: 5;}

.under-bg_white-btn {margin-right: 16px;
                     font-size: 12px;}

.under-bg_green-btn {background-color: #06d89b;
                     padding: 8px 21px;
                     border-radius: 5px;
                     margin-right: 24px;
                     font-size: 12px;}


.logo {float: left;
       width: 180px;
       margin-top: 4.58%;
       margin-left: 8.19%;
       position: relative;
       z-index: 1;
       margin-bottom: 170px;
       clear: both;}

.block-hero {text-align: center;}

.block-hero__hero {float: right;
                   position: relative;
                   top: 190px;
                   right: -50px;}

.section-a {padding-top: 284px;
            margin-left: 8.19%;}


.section-a__heading {width: 34.375%;
                     font-size: 40px;}

.section-a__par {width: 35.28%;
                 color: #909090;}

.section-a__btn {padding: 27px 90px;
                 background-color: #06d79d;
                 border: none;
                 border-radius: 5px;
                 color: white;}

.under-bg_grey {background-color: #fafafa;
                height: 744px;
                width: 105%;
                margin-top: 30%;
                position: relative;
                left: -50px;
                clip-path: inset(0% 0% 0% 0% round 100px);
                font-size: 14px;
                z-index: -1;
                transform: rotate(15.589deg);
                clear: both;}

.section-b {position: relative;
            top: -650px;}

.section-b__container__main {display: flex;
                             flex-flow: column nowrap;
                             align-items: center;
                             margin-bottom: 87px;}

.section-b__container__heading {margin-bottom: 32px;}

.section-b__container__par {width: 30.90%;
                            color: #909090;}

.section-b__container__sub-main {display: flex;
                                 flex-flow: row wrap;
                                 justify-content: center;
                                 align-items: center;}

.section-b__container__sub-main__column1,
.section-b__container__sub-main__column2,
.section-b__container__sub-main__column3  {width: 30%;
                                          text-align: center;}

.section-c__container {position: relative;
                       z-index: 2;
                       top: -350px;
                       display: flex;
                       flex-flow: row wrap;
                       justify-content: space-around;
                       align-items: center;}

.section-c__container__heading {color: #19114a; width: 300px;}

.section-c__container__par {color: #909090;}

.section-c__container__column1 {width: 25%;}

.section-c__container__column2 {display: flex;
                                flex-flow: row wrap;
                                width: 65%;}

.section-c__container__sub-column1,
.section-c__container__sub-column2,
.section-c__container__sub-column3  {width: 28%;
                                    display: flex;
                                    flex-flow: column nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;}

.section-c__container__sub-column2 {position: relative;
                                     top: -50px;}

.section-c__container__sub-column1 {position: relative;
                                     top: -22px;}

.section-c__container__sub-heading {color: #060037;}

.slack,
.gsuite,
.trello,
.asana,
.salesforce,
.typeform       {width: 102px;
                 border: 1px solid #eeedf2;
                 padding: 30px 56px;
                 background-color: white;}

.sub-block-slack,
.sub-block-gsuite,
.sub-block-trello,
.sub-block-asana,
.sub-block-salesforce,
.sub-block-typeform {border: 1px solid #eeedf2;
                     width: 214px;
                     margin-bottom: 20px;
                     background-color: white;}

.section-d {display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            margin-top: -250px;}

.section-d__container__heading {color: #030036; font-size: 36px; margin-bottom: 34px;}

.section-d__container__par {width: 635px;
                            text-align: center;
                            color: #a9a9a9;
                            margin-top: 0px;}

.section-d__container__btn {background-color: #06d79d;
                            padding: 20px 80px;
                            border: none;
                            border-radius: 5px;
                            color: white;}

footer {background-color: #07043b;
        color: white;
        height: 595px;
        margin-top: 125px;}

.footer__logo {margin-bottom: 43px;}

.wlogo {fill: white;}

.section-e {display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;}

.top-footer__container {display: flex;
                        flex-flow: row nowrap;}

.top-footer__btn {background-color: #06d79d;
                  color: white;
                  padding: 18px 87px;
                  border: none;
                  border-radius: 5px;
                  margin-left: 12px;}

.top-footer__email {height: 52px;
                    border: none;
                    margin-bottom: 41px;}

.section-e__column1 {width: 30%;
                     margin-top: 100px;}

.section-e__column2,
.section-e__column3,
.section-e__column4 {width: 10%;
                     margin-top: 100px;}

.section-e__column4 {margin-top: 70px;}

.phone-logo,
.email-logo {margin-right: 20px;}

.phone-par {margin-bottom: 30px;}

.address-heading {margin-bottom: 35px;}

.address-par {margin-top: 26px;}




















}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  underflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  underflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples underride the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
