/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackunderflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@media screen and (min-width: 340px) and (max-width: 380px)

{

body {height: 5182px;
      margin: 0px;
      padding: 0px;
      font-size: 16px;}

header {height: 170px;
        overflow-x: hidden;
        margin-bottom: 0px;}

.list {position: relative;
    float: right;
    color: white;
    z-index: 5;
    margin-top: 36px;
    margin-right: 0px;
    padding-left: 0px;}

nav > ul > li {list-style: none;
               display: inline;
               position: relative;
               z-index: 5;}

.under-bg_white-btn {margin-right: 16px;
                     font-size: 12px;}

.under-bg_green-btn {background-color: #06d89b;
                     padding: 8px 21px;
                     border-radius: 5px;
                     margin-right: 24px;
                     font-size: 12px;}

.under-bg_blue {background-image: linear-gradient(to top, #a09ae2, #847dca);
                float: right;
                height: 300px;
                width: 58.75%;
                top: -197px;
                left: 80px;
                clip-path: inset(0% 0% 0% 0% round 60px);
                font-size: 14px;
                position: relative;
                z-index: 0;
                transform: rotate(115deg);}

.logo {float: left;
       margin-top: 26px;
       margin-left: 24px;
       position: relative;
       z-index: 1;}

.block-hero {text-align: center;}

.block-hero__hero      {width: 80%;
                        position: relative;
                        top: -50px;
                        z-index: -1;
                        }

.section-a {clear: both;
           display: flex;
           flex-flow: column nowrap;
           align-items: center;}

.section-a__heading {width: 85.67%;
                     text-align: center;
                     margin-top: 0px;
                     margin-bottom: 32px;}

main {overflow-x: hidden;}

.section-a__par  {width: 87.50%;
                  margin-top: 0px;
                  margin-bottom: 30px;}

.section-a__btn {padding: 17px 58px;
                 background-color: #06d89b;
                 border: none;
                 border-radius: 5px;
                 color: white;
                 margin-top: 0px;
                 margin-bottom: 206px;
                 position: relative;
                 z-index: 0;}

.under-bg_grey {background-color: #fafafa;
                height: 1364px;
                width: 225.75%;
                clip-path: inset(0% 0% 0% 0% round 100px);
                font-size: 14px;
                position: relative;
                left: -250px;
                top: 60px;
                z-index: 0;
                transform: rotate(25.589deg);}

.section-b {position: relative;
            z-index: 1;
            text-align: center;
            top: -1150px;}

.section-b__container {display: flex;
                       flex-flow: column nowrap;
                       align-items: center;}

.section-b__container__heading {width: 50.56%;
                                margin-top: 0px;
                                margin-bottom: 34px;}

.section-b__container__par {width: 78.45%;
                            margin-top: 0px;
                            margin-bottom: 90px;}

.section-b__container__device,
.section-b__container__shield,
.section-b__container__people {margin-top: 0px;
                               margin-bottom: 36px;}

.section-b__container__heading-top,
.section-b__container__heading-mid
 {margin-bottom: 95px;}













}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  underflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  underflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples underride the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
